body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f7fb;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.button {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border: none;
  padding: 14px;
  border-radius: 12px;
  color: white;
  width: 100%;
  font-weight: bold;
}

body {
  background: #f3f4f6;
}

h2, h3 {
  font-weight: 600;
}

.login-wave {
  animation: waveFloat 8s ease-in-out infinite;
}

.login-wave1 {
  animation-duration: 10s;
}

.login-wave2 {
  animation-duration: 14s;
}

@keyframes waveFloat {
  0%, 100% {
    transform: translate3d(-10%, 0, 0) translateY(0);
  }
  50% {
    transform: translate3d(-5%, 8px, 0);
  }
}

